<!-- chat.html -->

{% load static %}

<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>

<body>
  <div>
    <h1>Chat Room</h1>
    <p>User:
    {% if user.is_authenticated %}
    {{ user.username }}
    {% else %}
    Anonymous
    {% endif %}
    </p>
    {% if user.is_authenticated %}
      <!-- Logout Button -->
      <a href="{% url 'logout' %}"><button>Logout</button></a>
    {% endif %}
  </div>

  {% if user.is_authenticated %}
    <form id="form">
      <input type="text" name="message" autocomplete="off" />
    </form>
  {% endif %}

  <div id="messages"></div>

    <script src="{% static 'script.js' %}"></script>
    <script src="{% static 'create_chatroom.js' %}"></script>
</body>
</html>
