<!-- chat.html -->

{% load static %}

<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>

<body>
  <div>
    <h1>{{ chat_type }}: {{ chat_name }}</h1>

    <h2>Logged In As User "{{ user.username }}"</h2>

    <h3>Admins</h3>
    <p>
    {% for admin in chat_admins %}
      {{ admin.nickname }}{% if not forloop.last %}, {% endif %}
    {% endfor %}
    </p>

    <h3>Members</h3>
    <p>
    {% for member in chat_members %}
      {{ member.nickname }}{% if not forloop.last %}, {% endif %}
    {% endfor %}
    </p>

    <!-- Select Chat Button -->
    <a href="{% url 'select_chat' %}"><button>Back to Chat Selection </button></a>
  </div>

  {% if user.is_authenticated %}
    <form id="form">
      <input type="text" name="message" autocomplete="off" />
    </form>
  {% endif %}

  <div id="messages"></div>

  <script>
  // Set the senderName in localStorage
  localStorage.setItem('senderName', '{{ user.username }}');
  </script>

  <script src="{% static 'script.js' %}"></script>

</body>
</html>
