<!-- select_chat.html -->

{% load static %}

<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>

<body>
  <div>
    <h1>Select a Chat Room</h1>
    {% if user.is_authenticated %}
      <div class="user-profile-picture">
      {% if user.image %}
        <img src="{{ user.image.url }}" alt="User profile picture">
          {% else %}
          <p>No profile picture found.</p>
      {% endif %}
      </div>
      <p>User: {{ user.username }}</p>
      <!-- Edit Profile Button -->
      <a href="{% url 'edit_profile' %}"><button class="button">Edit Profile</button></a>
      <!-- View User List Button -->
      <a href="{% url 'user_list' %}"><button class="button">View User List</button></a>
      <!-- Logout Button -->
      <a href="{% url 'logout' %}"><button class="logout-button">Logout</button></a>
    {% else %}
      <p>User: Anonymous</p>
    {% endif %}
  </div>

  {% if user.is_authenticated %}
    <div id="chat-list">
      {% for chat in chats %}
        <div class="chat" data-chat-id="{{ chat.id }}">
          <h2>{{ chat.chat_name }}</h2>
        </div>
      {% endfor %}
    </div>
  {% endif %}

  <script src="{% static 'select_chat.js' %}"></script>
</body>
</html>
